body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    padding: 20px;
}

.body2 {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    margin-top: 15px;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background: #f2f2f2;
}

a.th {
    border: none;
    background: #f2f2f2;
    padding: 10px 15px;
    font-weight: bold;
    text-decoration: none;
    color: #888;
}

a.th:hover{
    color: #000;
}

.button {
    display: inline-block;
    background-color: #3498db;
    color: white;
    padding: 8px 14px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #2980b9;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.special {
    color: #888;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.special:hover {
    color: #000;
}

input, textarea, select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    }

input[type="submit"]:hover {
    background-color: #2980b9;
}

.container {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 320px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f5f5;
    padding: 10px 20px;
    border-bottom: 1px solid gray;
}

.a2{
    text-decoration: none; 
    padding: 3px;
    color: #888;
}

.a2:hover{
    color: #000;
}

